body {
    margin: 0;
    font-family: Arial Helvetica, sans-serif;
}

 /* Header component style */

header {
    background-color: rgb(30,30,30);
}

nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    place-items: center;
}

.select-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.select-container > a {
    text-decoration: none;
    color: white;
}

/* .select-container > button {
    background-color: inherit;
    color: white;
    border: none;
    font-size: 1em;
} */

.navbar-active {
    background-color: rgba(30,30,30, 0.15);
}

.todoList-header {
    color: white;
}

/* Home component style */

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    margin-top: 2rem;
    width: 80%;
    flex-direction: column;
    background-color: rgb(61,61,61);
    border: 1px solid gray;
    padding: 2rem;
}


.welcome, .home-details, .home-buttons {
    display: flex;
    justify-content: center;
    color: white;
}

.home-buttons > a {
    margin-right: 2rem;
    color: white;
    background-color: rgb(1,233,134);
    border: none;
    padding: .5rem .5rem;
    border-radius: .2rem;
    font-weight: bold;
    text-decoration: none;
}

/* TodoListForm component style */

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em .7em;
    padding: 1em .7em;
    border-bottom: 1px solid rgb(51,51,51);
}

.form-input-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form-input-container > label {
    color: white;
}

.form-input-container > input {
    padding: .3em;
    
}

.form-input-button > button {
    padding: .7em .9em;
    margin-top: .8em;
    color: white;
    background-color: rgb(1,233,134);
    border: none;
    border-radius: .2em;
    font-weight: bold;
}
/* Register Screen  */
.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.register-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    background-color: rgb(61,61,61);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.15), -2px -2px 3px rgba(0,0,0,0.15);
}

.register-input-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
}

.register-input-container > input {
    padding: .7em 0;
}

.register-input-container > label {
    color: white;
}

.register-input-button > button {
    color: white;
    font-weight: bold;
    padding: .7em .9em;
    border: none;
    border-radius: .25em;
    background-color: rgb(1,233,134);
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: .5rem;
}

/* Login Screen style */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-section {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15), -1px -1px 3px rgba(0,0,0,0.15);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(61,61,61);
    border-radius: .2rem;
}

.login-input-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.login-input-container > input {
    padding: .7em;
}

.login-input-container > label {
    color: white;
}

.login-input-button-container {
    margin: 1.5em 0;
}

.login-input-button-container > button {
    border: none;
    text-decoration: none;
    padding: 1em 1.2em;
    background-color:rgb(1,233,134);
    font-weight: bold;
    border-radius: .25em;
    color: white;
    font-size: 1rem;
}

.toRegister-container {
    margin-bottom: .5rem;
}



/* Dashboard screen style */

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.todoList-container {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15), -1px -1px 3px rgba(0,0,0,0.15);
    width: 80%;
    border-radius: .2em;
    background-color: rgb(61,61,61);
}

/* Todos component style */
.todos-container {
    margin: 0;
    padding: 0;
    list-style: none;    
}

.todos-container-buttons {
    display: flex;
    align-items: center;
    width: 7%;
    justify-content: space-between;
    padding-right: .5em;
}

.todos-container-buttons > button {
    border: none;
    background-color: inherit;
}

.todos-container-buttons > button:hover {
    opacity: 0.65;
}

.todos-container-buttons > button:active {
    opacity: 0.35;
}

.todos-container-buttons > button + button {
    color: rgb(1,233,134);
}

#faSquare {
    color: white;
}

.todo {
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15), -1px -1px 3px rgba(0,0,0,0.15);
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
    background-color: rgb(73,73,73);
}

.todo > a {
    text-decoration: none
}

.todo > a >h4 {
    color: rgb(1,233,134);
    padding-left: .5em;
}

/* TodoList Component style */

.todoListContainer {
    margin: 0 2rem;
}

.completed-container {
    margin: 1.5em 0;
}

.completed-container > button {
    padding: .7em;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.completed-container > button:hover {
    opacity: 0.85;
}


.active {
    background-color: rgb(1,233,134);
}

.not-active {
    background-color: rgb(73,73,73)
}

.todoDetails-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.todoDetails{
    padding: 5em;
    margin-top: 1rem;
    /* background-color: black; */
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15), -1px -1px 3px  rgba(0,0,0,0.15);
    background-color: rgb(61,61,61);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoDetails > .todo {
    width: 90%;
    padding: 0 3em;
}
.todoDetails > a {
    text-decoration: none;
    padding: .7em .9em;
    background-color: rgb(1,233,134);
    color: white;
    font-size: 1em;
    font-weight: bold;
}

















